// COLORS
$black-1: #000000;
$black-2: #111111;
$black-3: #353535;
$sd_orange: #FB991C;

//FONTS
$font-roboto: 'Roboto', sans-serif;
$font-futura: 'Futura Std', sans-serif;

$font-weight-regular: 400;
$font-weight-bold: 700;