@import 'normalize';
@import 'variables'; // Import the variables file
@import 'components/main';
@import 'components/tagline';
@import 'components/menu';
@import 'components/footer';
@import 'components/video-container';
@import 'components/featured-work';
@import 'components/start-project';

// Define color variable
$background-color: white;

// Apply background color to body
body {
  background-color: $background-color;
  padding-top: 0;
  padding: 0; // Adjust this value to match the height of your menu bar

}

