#menu {
    position: fixed; // Position the menu fixed
    top: 0; // Position it at the top of the page
    min-height: 85px;
    height: 14vw;
    width: 100%;
    background-color: $black-1;
    display: flex;
    justify-content: space-between;
    z-index: 9999; // Set a high z-index value to keep the menu on top
    
    #logo {
        align-self: center;
        flex: 0 0 auto;
        height: 14vw; // Set logo height equal to the height of the menu
        width: calc(28vw); // Set logo width equal to double the height of the menu
        background-color: #ab0101; // Set logo background color to red
    }

    #hamburger-button {
        flex: 0 0 auto;
        width: 14vw;
        height: 14vw;
        background-color: #ff1b1b; // Set hamburger button background color to red

        &.open {
            background-color: #00ff00; // Set hamburger button background color to green when menu is open
        }
    }
}

#menu-items-container {
    position: fixed; // Position the menu-items-container fixed
    top: 14vw; // Position it below the menu bar
    left: 0; // Align it with the left edge of the viewport
    width: 100vw; // Make it span the full width of the viewport
    display: none; // Hide the menu items by default
    flex-direction: column; // Stack the menu items vertically
    background-color: $black-1; // Set the background color to $black-1
    transition: top 0.3s ease-in-out; // Add transition for smooth animation


    @media (min-width: 1020px) {
        top: 0; // Position it at the top of the viewport
        left: 14vw; // Position it to the right of the menu bar
        height: 100vh; // Make it span the full height of the viewport
        flex-direction: row; // Arrange the menu items horizontally
    }

    &.open {
        display: flex; // Display the menu items when the menu is open
    }

    #menu-items, #contact-info {
        width: 100%; // Make each div take up the full width of the viewport

        @media (min-width: 1020px) {
            width: 50%; // Make each div take up half the width of the viewport
        }
    }

    .menu-link {
        display: block; // Display the menu-link as a block element
        margin-bottom: 10px; // Add margin between each menu-link
        font-size: 3rem; // Set the font size to 3rem
        font-family: $font-futura; // Set the font family to $font-futura
        font-weight: $font-weight-bold; // Set the font weight to $font-weight-bold
        line-height: 2; // Set the line height to 2
        color: white; // Set the font color to white
        text-decoration: none; // Remove any text decoration
    }

}

.menu-phrase {
    display: none; // Hide the menu-phrase by default
}
