#tagline {
    background: $black-2;
    color: white;
    font-family: $font-roboto;
    font-weight: $font-weight-bold;
    padding: 5vw; // Add padding of 10vw
    font-size: 2rem; // Set font size to 16 pixels
}
